<!DOCTYPE html>
<html>
<head>
    <title>NBA Superlatives - About</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav>
        <div>NBA Superlatives</div>
        <div class="links">
            <a href="/">Matchups</a>
            <a href="/leaderboard">Leaderboard</a>
            <a href="#">About</a>
        </div>
    </nav>

    <h1 id="title">About</h1>

    <div class="about">This is a silly little website I built in a day. It was mainly inspired by the work of the <a href="https://www.instagram.com/nbaresdev/" target="_blank">NBA Research & Development Department (@nbaresdev)</a> and their website <a href="https://nbatop80.com" target="_blank">nbatop80.com</a>, because I always enjoy seeing rankings that aren't super serious and are more community oriented. Also the only time we usually get to see data like this is during all-star voting. Now it's like all-star voting forever, and we see all the rankings!!!
    <br><br>
    You can find more of my work <a href="https://linktr.ee/chenry22">here</a> and you can see the source code for this project <a href="https://github.com/chenry22/nba-superlative-rankings">on the Github repo</a>. Feel free to reach out if you have any questions or suggestions or just want to say hi!
    </div>
</body>
</html>